/* styles.css */
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    text-align: center;
}

/* Estilos del formulario */
form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos del enlace de registro */
p a {
    color: #007BFF;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/* Estilos del pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    position: relative; /* Cambia a "relative" en lugar de "absolute" */
    clear: both; /* Limpia el contenido flotante anterior */
    width: 100%;
    bottom: 0;
}


/* Estilos para los resultados simulados */
.resultado {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resultado h3 {
    margin: 0;
}

/* Estilo para ocultar la sección de resultados al principio */
#resultados {
    display: none;
}

